body, html {
    height: 100%;
    background-color: rgb(234, 123, 123);
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 100px;
}
.flex-container {
    display: flex;
    gap: 15px;
}
.score, .result {
    font-size: 2rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgb(138, 74, 138);
    border-radius: 15px;
    padding: 25px;
}
button {
    height: 200px;
    width: 200px;
    border: 3px solid rgb(138, 74, 138);
    border-radius: 10%;
    font-family: monospace;
    font-size: 2rem;
}
.rock {
    background-image: url(images/rock.jpg);
    background-size: cover;
    background-position: center;
}
.paper {
    background-image: url(images/paper.jpg);
    background-size: cover;
    background-position: center;
}
.scissors {
    background-image: url(images/scissors1.jpg);
    background-size: cover;
    background-position: center;
}